{% extends 'quiz/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <h2 class="mb-4">Edit Quiz</h2>
  <form method="post" id="quizForm">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.as_p }}
    </div>
    <hr>
    <h4>Questions</h4>
    <div id="questionsContainer"></div>
    <button type="button" id="addQuestionBtn" class="btn btn-secondary mt-2">Add Question</button>
    <input type="hidden" id="question_count" name="question_count" value="0">
    <button type="submit" class="btn btn-primary mt-3">Update Quiz</button>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
  var existingQuizData = {{ quiz_data|safe }};
</script>
<script src="{% static 'quiz/js/dynamic_quiz.js' %}"></script>
{% endblock %}
