{% extends 'newsletter/base.html' %}
{% block content %}
<h2>Sent Newsletters</h2>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Subject</th>
            <th>Content</th>
            <th>Group</th>
            <th>Recipients</th>
            <th>Sent On</th>
        </tr>
    </thead>
    <tbody>
        {% for mail in newsletters %}
        <tr>
            <td>
              <a href="{% url 'newsletter_detail' mail.id %}">{{ mail.subject }}</a>
            </td>
            <td>{{ mail.content|truncatewords:20 }}</td>
            <td>{{ mail.group.name }}</td>
            <td>
                {% for rec in mail.recipients.all %}
                    {{ rec.subscriber.email }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ mail.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
